*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1200px;
  position: relative;
}
body {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #3c2845;
}
.coursel {
  user-select: none;
  max-width: 630px;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}
.dragged {
  scroll-behavior: auto;
}

.coursel img {
  width: calc(100% / 3);
  height: 200px;
  margin: 0 5px;
  object-fit: cover;
  cursor: pointer;
}
.wrapper i {
  position: absolute;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
/* .wrapper i:hover {
  font-size: 1.6rem;
} */
.wrapper i:last-child {
  right: -1.5rem;
}
.wrapper i:first-child {
  left: -1.5rem;
}
@media screen and (max-width: 900px) {
  .coursel img {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 500px) {
  .coursel img {
    width: calc(100% / 1);
  }
}
